{%  extends ('base.html.twig') %}

{% block body %}
    <h1>{{  post.title }}</h1>
    <em>{{ post.category }}</em>
    <img src="{{ '/uploads/' ~ post.image }}" alt="Post image here">
{%  endblock %}